.button {
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;



    &.primary-button {
        background-color: rgb(229, 74, 74);
    }

    &:active {
        transform: scale(0.9);
    }
}